<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated thing -->
      <factory
            uri="platform:/plugin/examples/thingdesc/thing-description-1.0.0.xsdsimplified"
            class="org_eclipse_smarthome_schemas_thing_description_v1__0Simplified.provider.org_eclipse_smarthome_schemas_thing_description_v1__0SimplifiedItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
