<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated thing -->
      <package
            uri="platform:/plugin/examples/thingdesc/thing-description-1.0.0.xsdsimplified"
            class="org_eclipse_smarthome_schemas_thing_description_v1__0Simplified.org_eclipse_smarthome_schemas_thing_description_v1__0SimplifiedPackage"/>
   </extension>

</plugin>
