/.OCL2QuickfixGenerator.java._trace
/.OCL2ScopeGenerator.java._trace
/.OCL2ValidatorGenerator.java._trace
/.OCL2QuickfixGenerator.xtendbin
/.OCL2ScopeGenerator.xtendbin
/.OCL2ValidatorGenerator.xtendbin
/OCL2QuickfixGenerator.java
/OCL2ScopeGenerator.java
/OCL2ValidatorGenerator.java
