<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated serviceexample -->
      <package
            uri="http://www.example.org/serviceexample"
            class="serviceexample.ServiceexamplePackage"
            genModel="model/serviceexample.genmodel"/>
   </extension>

</plugin>
