# eclipse stuff
.project
.metadata
.settings
.classpath
bin/**
build/**
tmp/**
tmp/**/*
**/*.rvm
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# maven stuff
target/
bin/
bootstrap/

# config (eventually containing credentials)
config/

# temp data
data/

# other
.DS_Store
/.apt_generated/
